*{
  padding: 10px;
  margin: 25px;
  text-size: 16px;
  color: red;
  background-color: black;/*test*/
  box-sizing: border-box;
}


header {
  width: 100vw;
  position: fixed;
  z-index: 4;
  float: right;
  top: 0px;
  left: 0px;
  background-color: gray;
  text-transform: uppercase;
}

nav a{
  padding: 20px;
  text-decoration: none;
  display: inline;
  color: red;
}

nav a:hover{
  color: blue;
}

nav a:active{
  color: gray;
}

h1 {
  text-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.creepy {
  float: left;
  font-weight: 700;
}

article {   
  display: inline-block;
  width: 500px;
}

.pasta {
  position: sticky;
}

footer a{
  display: inline-block;
  width: 500px;
  color: green;
}

footer a:hover {
  text-decoration: none;
}

footer a:active{
  color: white;
}

