*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 25px;
}


header {
  position: fixed;
  display: inline;
  float: right;
}

article {
  display: inline-block;
  width: 500px;

}

.Creepy {
  float: left;
}

.top-link {
  
}

pasta {
  position: sticky;
}

footer a:hover {
  text-decoration: none;
}
